@font-face {
    font-family: marydale;
    src: url('./font_marydale/Marydale.ttf');
}

#chiroonelogo {
    height: 55px;
    width: auto;
}

.w-100 {
    width: 100%;
}

.h-45 {
    height: 45px;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.h-80vh {
    height: 80vh;
}

html,
body {
    margin: 0 !important;
    max-height: 100% !important;
}

.w-450 {
    width: 550px;
}

.h-300 {
    height: 400px;
}

.background-g {
    background-color: #4e4e4e;
}

.padding-r-5 {
    padding-right: 5px;
}

.padding-l-5 {
    padding-left: 5px;
}

.box-shadow-none {
    box-shadow: none;
}

.margin-l-50 {
    margin-left: 50px;
}

.margin-r-50 {
    margin-right: 50px;
}

.mt-10 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.m-l-80 {
    margin-left: 80px;
}

.m-r-80 {
    margin-right: 80px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.h-55 {
    height: 55px;
}

.background-c-g {
    background-color: #326398;
    border-color: #326398;
}

.font-s-18 {
    font-size: 18px;
}

.p-custom {
    z-index: 1;
}

.color-w {
    color: white;
}

.pt-20 {
    padding-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mobile-margin-r-50 {
    margin-right: 50px;
}

.width-80 {
    width: 80%;
}

.background-green {
    color: #FFF;
    background: linear-gradient(90deg, #ADD261 0%, #77B336 100%);
    border: none;
}

.background-green:focus {
    box-shadow: none;
}

.mb-50 {
    margin-bottom: 50px;
}

.padding-r-60 {
    padding-right: 140px;
}

.text-right-mobile {
    text-align: right;
}

.text-left-mobile {
    text-align: left;
}

.special-font {
    font-family: "marydale";
    font-weight: 700;
    font-size: 3em;
    color: #add261;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.modal-button {
    color: #add261;
}

.custom-footer {
    background: gainsboro;
    margin-left: 0px;
    margin-right: 0px;
}

.left-end {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    display: flex;
}

.right-end {
    padding-right: 0px;
    margin: auto;
    display: flex;
}

img.image-w-mobile {
    width: 80%;
}


/* important */

.mt-50-mobile {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.background-white {
    background-color: white;
}

.color-b {
    color: black;
}

.custom-card {
    background: none;
    padding: 20px;
    border: 2px solid rgb(171 209 95);
}

.custom-card-other {
    background: none;
    padding: 20px;
    border: 2px solid rgb(100 122 56);
}

.mt-54 {
    margin-top: 54px;
}

.font-19 {
    font-size: 19px;
}

.font-12 {
    font-size: 12px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-13 {
    margin-top: 13px;
}

.mb-80 {
    margin-bottom: 80px;
}


/* bootstrap button style overwrite */

.btn-outline-primary {
    color: #7bb539;
    border-color: #78b437;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #83ba3f;
    border-color: #82b93e;
}

.head-logout {
    font-weight: 600;
    color: gray;
}

.card-title {
    margin-bottom: 1rem;
}

.mt-58 {
    margin-top: 58px;
}

@media (max-height: 800px) {
    img.image-w-mobile {
        width: 70%;
    }
    .mt-50-mobile {
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .mobile-none {
        display: none;
    }
    .mobile-response-center {
        text-align: center !important;
    }
    .mobile-margin-r-50 {
        margin-right: 0px;
    }
    .padding-r-60 {
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
    .mobile-mt-20 {
        margin-top: 20px;
    }
    .text-right-mobile {
        text-align: center;
    }
    .text-left-mobile {
        text-align: center;
    }
    .padding-r-5 {
        padding-right: 15px;
    }
    .padding-l-5 {
        padding-left: 15px;
    }
}

@media (max-width: 1466px) {
    .middle-none {
        display: none;
    }
}